

<div id="body" [class]='getTema()'>
  <div class="wrapper">
    <!-- Header -->
    <app-header></app-header>
    <!--./Header -->

    <!-- Sidebar -->
    <app-siderbar></app-siderbar>
    <!--./Sidebar -->

    <!-- Container -->
    <app-container></app-container>
    <!--./Container -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!--./Footer -->
  </div>
</div>